<h2>About Rentals</h2>

<p>This is a project for DWA 15 - Dynamic Web Applications</p>

<p>This consists of two applications, the UI that you are currently viewing and an API application to serve the content</p>
