<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation">{{#link-to "about"}}About{{/link-to}}</li>
  <li role="presentation">{{#link-to "create-listing"}}Create Listing{{/link-to}}</li>
</ul>
